<h1>Detalhes do endereco</h1>

<% @address = Address.find(params[:id]) %>
<% @user = User.all %>

<p>
  <strong>Produto:</strong>
  <%= @address %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @address %>
</p>
